TELEGRAM_BOT_TOKEN = '1234567890:Ваш_телеграм_токен'
WEBHOOK_HOST = 'https://внешний_адрес_forwarding.ngrok-free.app'
WEBHOOK_MODE = 'True'
DATABASE_URL = 'sqlite+aiosqlite:///./bwy_bot.db'
# DATABASE_URL = "postgresql:////user:password@postgresserver/db"
USERNAME = 'mail@mail.ru'
PASSWORD = 'S0me-Passwd-123'
ADMIN_AUTH_SECRET = 'Some_Secret_Sting!' 
