#Для работы админки без ngrok в режиме webhook, при этом не работает бот:
#WEBHOOK_MODE = 'True'
#WEBHOOK_HOST = ''
#Для работы в режиме поллинг, не работает админка:
#WEBHOOK_HOST = 'https://*******************.ngrok-free.app'
#WEBHOOK_MODE = 'False'
#Для работы в режиме webhook использую ngrok, работает и бот и админка:
#WEBHOOK_HOST = 'https://*******************.ngrok-free.app'
#WEBHOOK_MODE = 'True'

TELEGRAM_BOT_TOKEN = '***********:***************************'
WEBHOOK_HOST = 'https://*******************.ngrok-free.app'
WEBHOOK_MODE = 'False'
DATABASE_URL = 'sqlite+aiosqlite:///./bwy_bot.db'
# DATABASE_URL = "postgresql:////user:password@postgresserver/db"
USERNAME = 'mail@mail.ru'
PASSWORD = 'S0me-Passwd-123'
ADMIN_AUTH_SECRET = 'Some_Secret_Sting!'
